.liTag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  font-size: x-large;
  color: rgb(75, 49, 14);
  border-bottom: 3px solid rgb(83, 54, 0);
  margin: 1px auto;
  &:hover {
    background: rgb(244, 171, 77);
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    min-height: 80px;
    margin-left: 10px;
    text-align: center;

    p {
      width: 35%;
      padding: 10px;
      cursor: default;
      &::selection {
        all: unset;
      }
      &.email {
        width: 65%;
        word-break: break-all;
      }
    }
  }

  .buttons {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      background: none;
      border: none;
      font-size: x-large;
      transition: all 0.3s ease;
      animation: expandingButtons 0.5s normal;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .deleteBtn {
      color: rgb(249, 62, 62);
    }
  }
}

@media (max-width: 800px) {
  .liTag {
    flex-direction: column;
    min-height: 120px;

    .info {
      flex-direction: column;
      width: 100%;
      p {
        width: 100%;
        padding: 10px 5px;
        &.email {
          width: 100%;
        }
      }
    }

    .buttons {
      width: 100%;
      justify-content: space-around;
      button {
        font-size: xx-large;
        animation: expandingButtons 0.5s normal;
      }

      @keyframes expandingButtons {
        from {
          opacity: 0;
          font-size: smaller;
        }
        to {
          opacity: 1;
          font-size: xx-large;
        }
      }
    }
  }
}

@media (min-width: 801px) {
  @keyframes expandingButtons {
    from {
      opacity: 0;
      font-size: smaller;
    }
    to {
      opacity: 1;
      font-size: x-large;
    }
  }
}
