@use '../../utility/styles/colors.scss';

nav {
  width: 98%;
  display: flex;
  padding: 1rem;
  flex-direction: row-reverse;
  button {
    border: none;
    background-color: transparent;
    color: colors.$gray-700;
    font-size: xx-large;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      border: 2px solid colors.$gray-600;
      color: colors.$gray-600;
      border-radius: 100%;
      background-color: colors.$gray-100;
      animation: expandingButtons 0.5s normal;
      transition: all 0.3s linear;

      &:hover {
        background-color: colors.$gray-200;
      }
      &:active {
        background-color: colors.$gray-50;
      }
    }
  }
  @media (max-width: 400px) {
    justify-content: center;
  }
}

form {
  width: 90%;
  height: 90%;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  // background-color: rgb(255, 203, 131);
  p.error {
    text-indent: 0;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    justify-self: center;
    font-size: large;
    color: rgb(138, 0, 0);
    // background-color: rgba(255, 101, 101, 0.532);
    padding: 0.5rem;
    text-indent: 2rem;
    margin-top: 1rem;
    @media (max-width: 800px) {
      width: max-content;
    }
  }
  .inputContainer {
    width: 100%;
    min-height: 10rem;
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    &:nth-child(even) {
      background-color: colors.$gray-200;
    }
    &:nth-child(odd) {
      background-color: colors.$gray-100;
    }
    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &.mobile {
      border-radius: 0 0 10px 10px;
    }
    .input {
      width: 100%;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: x-large;
      color: colors.$gray-700;

      label {
        width: 30%;
        text-align: center;
      }
      input {
        width: 60%;
        height: 4rem;
        border-radius: 5px;
        align-self: stretch;
        border-radius: 5px;
        padding: 0.5rem;
        border: 2px solid colors.$gray-400;
        font-size: large;
        font-weight: 800;
        &:focus {
          outline: none;
          border: 3px solid colors.$gray-500;
        }
      }

      @media (max-width: 800px) {
        flex-direction: column;

        label {
          width: 100%;
          padding: 8px;
        }
        input {
          width: 96%;
          align-self: center;
        }
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .buttonGroup {
    button {
      padding: 1rem 3rem;
      border-radius: 5px;
      background-color: transparent;
      border: 2px solid green;
      background-color: rgb(111, 218, 86);
      color: rgb(35, 71, 26);
      font-size: x-large;
      margin: 1rem;
      transition: all 0.3s linear;
      cursor: pointer;
      &:disabled {
        background-color: rgb(189, 215, 184);
        color: rgb(127, 145, 122);
        border: 2px solid rgb(92, 126, 92);
        &:hover {
          transform: scale(1);
        }
        &:active {
          transform: scale(1);
        }
      }
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }
    @media (max-width: 400px) {
      width: 100%;
      display: flex;
      padding: 1rem;
      justify-content: center;
      button {
        width: 100%;
        margin: 0;
      }
    }
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}
// }
