@use '../../utility/styles/colors.scss';
.ulTag {
  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  list-style: none;
  width: 90%;
  height: 100%;
  background-color: colors.$gray-100;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  @media (max-width: 800px) {
    width: 100%;
  }
}
