.ulTag {
  list-style: none;
  width: 90%;
  background-color: rgb(246, 201, 142);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
