@use '../../utility/styles/colors.scss';
.navTag {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: transparent;

  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 1rem;
    // padding: 0.5rem;
    color: colors.$gray-600;
    height: 100%;
    input {
      flex-grow: 5;
      flex-shrink: 3;
      align-self: stretch;
      border-radius: 5px;
      margin: 1.5rem 0;
      padding: 0.5rem;
      border: 2px solid colors.$gray-400;
      font-size: large;
      font-weight: 800;
      &:focus {
        outline: none;
        border: 3px solid colors.$gray-500;
        box-shadow: 0px 0px 20px 2px colors.$gray-300;
      }
    }
    input::placeholder {
      visibility: hidden;
    }
    label {
      max-width: 23rem;
      text-indent: 2rem;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  .buttonGroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-shrink: 1;
    gap: 2rem;
    margin-right: 2rem;
    min-width: 15%;

    button {
      background-color: transparent;
      flex-shrink: 1;
      border: none;
      margin-left: 15px;
      margin-top: 10px;
      font-size: xxX-large;
      animation: expandingButtons 0.5s normal;
      transition: all 0.3s linear;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.96);
        // font-size: xx-large;
      }
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 7rem;
        border: 2px solid colors.$gray-600;
        color: colors.$gray-600;
        border-radius: 100%;
        background-color: colors.$gray-100;
        animation: expandingButtons 0.5s normal;
        transition: all 0.3s linear;

        &:hover {
          background-color: colors.$gray-200;
        }
        &:active {
          background-color: colors.$gray-50;
        }
      }
      @keyframes expandingButtons {
        from {
          opacity: 0;
          font-size: smaller;
        }
        to {
          opacity: 1;
          font-size: xxx-large;
        }
      }
    }
    // .addBtn {
    //   color: rgb(23, 126, 23);
    //   font-weight: 700;
    //   &:hover {
    //     color: rgb(0, 152, 0);
    //   }
    //   &:active {
    //     color: rgb(23, 124, 23);
    //   }
    // }
  }
}
.listContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .navTag {
    flex-direction: column-reverse;
    .searchBar {
      width: 100%;
      flex-direction: column;
      input {
        margin: 0.5rem 5px;
        height: 5rem;
        padding: 2rem;
      }
      label {
        flex-grow: 0;
        font-size: x-large;
      }
    }
    .buttonGroup {
      width: 100%;
      margin: 0;
      padding: 0.5rem 0;
      gap: 0;

      button {
        margin: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 400px) {
  .navTag {
    .searchBar {
      label {
        display: none;
      }
      input::placeholder {
        visibility: visible;
        font-size: large;
        color: colors.$gray-700;
        font-weight: 500;
      }
    }
    .buttonGroup {
      button {
        font-size: xx-large;
        .icon {
          height: 6rem;
          width: 6rem;
          animation: expandingButtons 0.5s normal;
        }
      }
    }
  }
  @keyframes expandingButtons {
    from {
      opacity: 0;
      font-size: smaller;
    }
    to {
      opacity: 1;
      font-size: xx-large;
    }
  }
}
