.navTag {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: transparent;

  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    flex-grow: 1;
    padding: 0.5rem;
    color: rgb(90, 51, 0);
    height: 100%;
    input {
      flex-grow: 5;
      flex-shrink: 1;
      align-self: stretch;
      border-radius: 5px;
      margin: 1rem 0;
      padding: 0.5rem;
      border: 2px solid rgb(149, 98, 30);
      font-size: large;
      font-weight: 800;
      &:focus {
        outline-color: rgb(255, 156, 25);
      }
    }
    input::placeholder {
      visibility: hidden;
    }
    label {
      max-width: 18rem;
      text-indent: 5px;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  .buttonGroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-right: 2rem;
    min-width: 15%;
    button {
      background-color: transparent;
      margin-left: 15px;
      margin-top: 10px;
      border: transparent;
      font-size: xxX-large;
      animation: expandingButtons 0.5s normal;
      transition: all 0.3s linear;
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.98);
      }
    }
    .addBtn {
      color: rgb(23, 126, 23);
      &:hover {
        color: rgb(0, 152, 0);
      }
      &:active {
        color: rgb(23, 124, 23);
      }
    }
  }
}
.listContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  border-radius: 5px;
}

@keyframes expandingButtons {
  from {
    opacity: 0;
    font-size: smaller;
  }
  to {
    opacity: 1;
    font-size: xxx-large;
  }
}

@media (max-width: 600px) {
  .navTag {
    flex-direction: column-reverse;
    .searchBar {
      width: 100%;
      flex-direction: column;
      input {
        margin: 0.5rem 5px;
        height: 3.5rem;
      }
      label {
        flex-grow: 0;
      }
    }
    .buttonGroup {
      width: 100%;
      margin: 0;
      padding: 0.5rem 0;
      button {
        margin: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 300px) {
  .navTag {
    .searchBar {
      label {
        display: none;
      }
      input::placeholder {
        visibility: visible;
        font-size: large;
        color: #444;
        font-weight: 500;
      }
    }
  }
}
